<!DOCTYPE html>
<html>
<head>
    <title>上传图片</title>
    <script src="jquery_1.12.0.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<style>
  
</style>

<div align="center">
<div class="cdiv">
<p align='center' class="csearch">
<form action="{{url_for('show')}}" method="post" enctype="multipart/form-data">
   <strong class="bblue">请选择要上传的图片:</strong><br> <br>
    <input type="file" id="model" name="image_name">
    <input id="submit" type="submit">
</form>
</p>  
</div>
<br>
<div  class="csearch">
        <div class="cdiv"  align="left">
        <p>　　本站共收集了8985个汉字的18万多张书法作品，主要包括五种书法字体，分别为：楷书体（包含魏碑、正楷），行书体（包含行楷、行草），草书体（包含章草、小草、大草、标准草书），隶书体（包含古隶、今隶），篆书体（包含大篆、小篆）。</p>
        <p>　　本站对这些书法作品构建了深度学习模型，并进行了模型训练，具有一定的识别准确度</p>
        <p>　　在此您可以查询每个字的书法作品，也可通过上传书法图片，按图查字。</p>
        </div>    
</div>
</div>
</body>
</html>